body {
  font-size: .875rem;
  background-color:#000000;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.admin-container{
  background-color:black ;
  color: #fff;
}
.main > table,tbody,thead,th,td{
  color:rgb(184, 187, 189) !important
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background:linear-gradient(to bottom, rgba(12, 12, 12, 0.6) 0%, rgba(4, 5, 8, 0.6)60%);
  color: #fff;
  z-index: 9999;
}
.eanav{
 background:linear-gradient(to bottom, rgba(38, 38, 39, 0.6) 0%, rgba(4, 5, 8, 0.6)60%) !important; 
}

.copyright {
 color: #fff;
}
.canvas-container{
  width: 50%;
  height: 50%;
  object-fit: cover;
  object-position: top center;
}
.bg-black{
  background-color:black;
}
.h2-x{
  color:#28a745;
}
.text-red{
  color: red;
}
.table-responsive{
  padding-top:cal(6rem-74px);
   padding-bottom: 6rem;
}

.fa-glide:before {
  content: "\f2a5";
}
.fa-glide-g:before {
   content: "\f2a6";
}
