<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/admin">
                    <span data-feather="home"></span>
                    Dashboard <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <span data-feather="globe"></span>
                    Website
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="upload-cloud"></span>
                    Upload
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/ezine">
                    <span data-feather="feather"></span>
                    Ezine
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="log-out"></span>
                    Log Out
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-red">
            <!-- -->
            <span data-feather="briefcase"></span>Pro Version only
            <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link text-muted" href="#">
                    <span data-feather="pie-chart"></span>
                    Log Reports
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted" href="#">
                    <span data-feather="cloud"></span>
                    Api Control
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted" href="#">
                    <span data-feather="mail"></span>
                    Mail Integration
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted" href="#">
                    <span data-feather="users"></span>
                    User Management
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted" href="#">
                    <span data-feather="dollar-sign"></span>
                    Financial Integration
                </a>
            </li>
            <!-- <li class="nav-item">
                        <a class="nav-link text-muted" href="#">
                            <span data-feather="bell"></span>
                            Notifications
                        </a>
                    </li> -->
            <li class="nav-item">
                <a class="nav-link text-muted" href="#">
                    <span data-feather="share-2"></span>
                    Social engagement
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted" href="#">
                    <span data-feather="help-circle"></span>
                    AAA Service
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted" href="#">
                    <span data-feather="award"></span>
                    Third Party Support
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted" href="#">
                    <span data-feather="send"></span>
                    Space Technology
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted" href="#">
                    <span data-feather="settings"></span>
                    Settings
                </a>
            </li>
        </ul>
    </div>
</nav>