<!-- Footer-->
<footer class="footer text-center ">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4"></h4>
                <p class="lead mb-0">
                    Evert A. Robles <br>
                    Amsterdam</p> 
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4"></h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/evertrobles"><i class="fab fa-fw fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/evertroblesartist"><i class="fab fa-fw fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/RoblesEvert"><i class="fab fa-fw fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.tumblr.com/blog/view/evertrobles"><i class="fab fa-fw fa-tumblr"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4"></h4>
                <p class="lead mb-0">
                    +31 (0)6 2723 1977<br>
                    <a href="mailto:contact@evertrobles.com">contact@evertrobles.art </a>
                    
                    <a href="http://localhost"></a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright © 2021 Evert A. Robles. All Rights Reserved. <a href="copyright-notice.html">Copyright notice.</a></small></div>
</div