{%extends 'layouts/admin-layout.html'%}
{%block styling%}
<link rel="stylesheet" href="/static/css/dashboard.css">
<link rel="stylesheet" href="/static/css/ezine.css" />
{%endblock%}
{%block content%}
<div class="container-fluid admin-container">
    <div class="row">
        {%include '/includes/admin.nav.html'%}
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 e-zine-head ">
            <h3>Create your ezine article from here</h3>
            <form>

            </form>
        </main>
    </div>
</div>
{%endblock%}
{%block scripting%}
<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>

<script src="/static/js/dashboard.js"></script>
{%endblock%}