{%extends 'layout.html'%}
{#block styling#}
{%block styling%}
<style>
 .gallery-top{
    padding-top: calc(0.5rem + 102px);
 }
</style>
{%endblock%}

{#block content#}
{%block content%}
{% include 'includes/nav.html' %}
<div class="container">

    <div class="gallery-top">
        <h1>{{category}}</h1>
        <select id="comp_select" class="selectpicker form-control">
            <option value="" selected>Select a category</option>
            <option value="{{url_for('gallery',category='paintings')}}">Paintings</option>
            <option value="{{url_for('gallery',category='drawings')}}">Drawings</option>
            <option value="{{url_for('gallery',category='graphicart')}}">Graphic Art</option>
            <option value="{{url_for('gallery',category='photography')}}">Photography</option>
            <option value="{{url_for('gallery',category='collaborations')}}">Collabos</option>
            <option value="{{url_for('gallery',category='other')}}">Other</option>
        </select>
    </div>

    <div class="row p-2">
        {%for image in images[:8]%}
        
            <div class="col-6 col-md-3 col-sm-6 mb-2">
            <img src="{{'/static/assets/img/gallery/'+image.image_url}}" alt=" align='center' width="150" height="150"> 
            </div>
        {%endfor%}
    </div>
</div>
{%endblock%}

{# block scripting #}
{%block scripting%}
<script>
    $(function(){
      // bind change event to select
      $('#comp_select').on('change', function () {
          var url = $(this).val(); // get selected value
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
    });
</script>
{%endblock%}